/* || General Styles || */
body {
  background-color: lightgray;
}

main {
  max-width: 960px;
  margin: auto;
  font-family: 'ABeeZee', sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  display: block;
}

ul {
  text-align: left;
  line-height: 1.6;
  padding-bottom: 10px;
  border-left: 3px solid lightslategray;
  border-right: 3px solid lightslategray;
}

li {
  margin: 16px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: gray;
  width: 100%;
  font-family: 'ABeeZee', sans-serif;
}

/* || Utilities || */
.movie {
  font-style: italic;
}

/* || Specifics || */
#img-caption {
  text-align: center;
  padding: 10px;
}

#tagline {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}